$subColor: rgba(222, 216, 216, 0.772);
$sp: 414px;

.current {
  margin-bottom: 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    @media (max-width: $sp) {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  }
  &__info {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $sp) {
      text-align: center;
    }
    & div:first-child {
      margin-bottom: 10px;
    }
  }
  &__icon {
    width: 100%;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  &__weather {
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: right;
  }
  &__temperature {
    @media (max-width: $sp) {
      text-align: center;
    }
  }
  &__humidity {
    @media (max-width: $sp) {
      text-align: center;
    }
  }
  &__description {
    font-weight: 600;
  }
}

/* heading setting */
.heading {
  &__main {
    margin: 0 0 20px 0;
  }
  &__sub {
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: 600;
    color: $subColor;
  }
}
.heading__number {
  &__big{
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.1em;
}
&__small {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.1em;
}
}


/* current weather contents */

.tab {
  font-size: 13px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 100vh;
  background-color: #4478eb;
}

.vertical_align {
  vertical-align: top;
}
